.u-center-text {
  text-align: center !important;
}

.mb-8 {
  margin-bottom: 8rem !important;
}

.mb-4 {
  margin-bottom: 4rem !important;
}

.mb-2 {
  margin-bottom: 2rem !important;
}
.mt-10 {
  margin-top: 10rem !important;
}
